{% extends "admin/change_list.html" %}
{% load unfold %}

{% block object-tools-items %}
  {{ block.super }}
  <li>
    {% component "unfold/components/button.html" with href="kanban/" variant="secondary" size="sm" %}
      <span class="flex items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-1"><path d="M6 5v11"/><path d="M12 5v6"/><path d="M18 5v14"/></svg>
        Kanban Board
      </span>
    {% endcomponent %}
  </li>
{% endblock %}
